$background: #333;
$layerBg: #555;
$borderColor: #888;

$color0: rgb(0, 0, 0);
$color1: rgb(27, 0, 216);
$color2: rgb(214, 0, 4);
$color3: rgb(214, 0, 217);
$color4: rgb(30, 223, 8);
$color5: rgb(42, 219, 217);
$color6: rgb(216, 221, 10);
$color7: rgb(217, 217, 217);
$brightColor0: $color0;
$brightColor1: rgb(31, 0, 254);
$brightColor2: rgb(248, 0, 9);
$brightColor3: rgb(242, 0, 245);
$brightColor4: rgb(36, 255, 4);
$brightColor5: rgb(49, 255, 255);
$brightColor6: rgb(252, 255, 9);
$brightColor7: rgb(255, 255, 255);