@import "../main";

.LayerEditor {

    overflow: hidden;
    transition: height 0.5s;

    &.layerShown {
        opacity: 1;
    }

    &.layerHidden {
        opacity: 0.5;
    }

    &.layerActive {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75), 0 0 0 1px rgb(255, 255, 255, 0.75) inset;
    }

    &.layerExpanded {
        height: 2000px;
    }

    &.layerMinimized {
        height: 20px;
    }

    .LayerEditorHeaderControls {
        display: flex;

        >div {
            display: flex;
            flex-wrap: nowrap;

            &:first-child {
                width: 100px;
            }

            &:nth-child(2) {
                width: 130px;

                input {
                    position: relative;
                    top: -2px;
                    width: 100%;
                }

                justify-self: center;
            }

            &:nth-child(3) {
                width: 60px;
                justify-self: end;
            }

        }
    }

    button,
    input,
    select {
        @extend .small;
    }

    input[type=text] {
        background: none;
        color: $borderColor;
        border-bottom: 1px solid $borderColor;
    }

    .ImageUploaderIcon {
        margin: 12px 55px;
        position: relative;
        width: 125px;
        height: 125px;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 15px;
        line-height: 20px;

        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.25);
        box-shadow: 1px 1px 4px 0 black inset;
        padding: 0px 10px;
        border-radius: 15px;
        border: 3px dashed rgba(255, 255, 255, 0.25);
    }

    .IconPasteArea {
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        background: rgba(0, 0, 255, 0);
        display: inline-block;
        top: -5px;
        left: -5px;
        height: 140px;
        width: 155px;
        outline: none;
        line-height: 235px;
    }

    .range {
        display: flex;
        align-items: center;

        input[type=range] {
            flex: 1 1 auto;
            margin: 0 0 5px 0;
            outline: none;
            cursor: pointer;
        }
    }

    .patterns {
        text-align-last: center;
    }
}