@import "../main";

.LayerEditor {

    transition: filter 0.5s;

    &.layerActive {
        filter: brightness(100%);
    }

    &.layerInactive {
        filter: brightness(50%);
    }

    .LayerEditorHeaderControls {
        display: flex;

        >div {
            display: flex;
            flex-wrap: nowrap;

            &:first-child {
                width: 100px;
            }

            &:nth-child(2) {
                width: 130px;

                input {
                    position: relative;
                    top: -2px;
                    width: 100%;
                }

                justify-self: center;
            }

            &:nth-child(3) {
                width: 60px;
                justify-self: end;
            }

        }
    }

    button,
    input,
    select {
        @extend .small;
    }

    input[type=text] {
        background: none;
        color: $borderColor;
        border-bottom: 1px solid $borderColor;
    }

    .ImageUploaderIcon {
        position: relative;
        width: 240px;
        text-align: center;
        margin: 2px 0 10px;

        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.25);
        box-shadow: 1px 1px 4px 0 black inset;
        font-size: 20px;
        padding: 0px 10px;
        border-radius: 15px;
    }

    .IconPasteArea {
        overflow: hidden;
        position: absolute;
        color: rgba(0, 0, 0, 0);
        display: inline-block;
        top: 8px;
        left: 1px;
        height: 25px;
        width: 270px;
        outline: none;
    }

    .range {
        display: flex;
        align-items: center;

        input[type=range] {
            flex: 1 1 auto;
            margin: 0 0 5px 0;
        }
    }

    .patterns {
        text-align-last: center;
    }
}