@import "./variables";

.Splash {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .SplashContent {

        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: pointer;
        max-height: 80vh;
        max-width: 60vw;
        margin: auto;

        background: $background;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 1);

        &>* {
            flex: 0 0 50%;
        }

        .SplashImageContent {
            align-self: stretch;
            background-image: url('/title.png');
            background-size: cover;
        }

        .SplashTextContent {
            box-sizing: border-box;
            padding: 50px;
            overflow: auto;

            h1 {
                padding: 0 0 10px 0;
                margin: 0;
                font-size: 20px;
                color: white;
            }

            text-shadow: 1px 1px 1px black;
        }
    }

}