@import "styles/variables";

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  color: #999;
  overflow: hidden;

  user-select: none;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

button {
  color: black;
}

select {
  background-color: none;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  top: -1px;
  color: black;

  &.small {
    border: 1px solid $borderColor;
    color: $borderColor;
    background: none;
    outline: none;

    &:focus {
      border-color: white;
      color: black;
    }
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}