.App {
    border: 12px color blue;

    .AppContainer {
        position: relative;
        display: flex;
        justify-content: space-between;

        &>* {
            height: calc(100vh - 50px);
        }
    }

}