@import "variables";

.ColorComponentPicker {

    display: flex;
    justify-content: center;

    $bright: rgba(255, 255, 255, 0.5);
    $dark: rgba(0, 0, 0, 0.5);

    .color {
        display: inline-block;
        height: 15px;
        width: 15px;
        border: 1px solid rgba(0, 0, 0, 0);
        display: flex;
        font-weight: 100;
        font-size: 10px;
        align-items: center;
        justify-content: center;

        border-radius: 3px;
        margin-right: 1px;
        cursor: pointer;

        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(1.5);
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.selected {
            z-index: 10;
            transform: scale(1.5);
            box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.33);
        }

        &.color0 {
            background: $color0;

            &.bright {
                background: $brightColor0;
            }

            color: $bright;
        }

        &.color1 {
            background: $color1;

            &.bright {
                background: $brightColor1;
            }

            color: $bright;
        }

        &.color2 {
            background: $color2;

            &.bright {
                background: $brightColor2;
            }

            color: $bright;
        }

        &.color3 {
            background: $color3;

            &.bright {
                background: $brightColor3;
            }

            color: $bright;
        }

        &.color4 {
            background: $color4;

            &.bright {
                background: $brightColor4;
            }

            color: $dark;
        }

        &.color5 {
            background: $color5;

            &.bright {
                background: $brightColor5;
            }

            color: $dark;
        }

        &.color6 {
            background: $color6;

            &.bright {
                background: $brightColor6;
            }

            color: $dark;
        }

        &.color7 {
            background: $color7;

            &.bright {
                background: $brightColor7;
            }

            color: $dark;
        }


    }

}