@import "./variables";

.LayerPropertyGroup {
    position: relative;
    margin: 7px 5px;
    padding: 5px;
    border: 1px solid $borderColor;
    border-radius: 5px;

    .LayerPropertyGroupTitle {
        position: absolute;
        top: -6px;
        height: 13px;

        display: flex;
        align-items: center;
        background: $layerBg;
        font-size: 10px;
        padding: 0 3px;

        color: $borderColor;
        cursor: pointer;

        &.canBeClosed:hover {

            &,
            span.Icon {
                color: white;
            }
        }

        button {
            padding: 0;
            margin: 0 0 0 5px;
            background-color: rgba(0, 0, 0, 0) !important;
            font-size: 15px !important;
            line-height: 15px;
            border-bottom: none;
        }

        span.Icon {
            color: $borderColor;
            background-color: none !important;
            font-size: 15px !important;
        }
    }

    .removePropertyGroupButton {
        position: absolute;
        padding: 0;
        top: -13px;
        right: -8px;
        border: none;
        background: $layerBg;
        color: $borderColor;

        .Icon {
            font-size: 15px;
            background: $layerBg;
            padding-bottom: 1px;
            cursor: pointer;

            &:hover {
                background: $layerBg;
                color: red;
                transform: scale(1.5);
            }
        }

    }


    .LayerPropertyGroupContent {
        .Icon {
            position: relative;
            top: 5px;
        }
    }
}