@import "./variables";

.PatternEditor {
    position: relative;
    padding-top: 4px;

    .patternTools {
        display: flex;
        justify-content: space-between;

        .movePattern {
            display: flex;
            flex-direction: column;
        }

        .patternLimits {
            input {
                border-top: none;
                border-right: none;
                border-left: none;
                text-align: center;
                width: 2rem;
            }

            &.warning {

                button,
                input {
                    background: red;
                    color: yellow;
                }
            }

            .patternPixels {
                text-align: center;
                margin-top: 5px;

                .pixelRow {
                    height: 15px;
                    white-space: nowrap;
                    margin-bottom: 1px;

                    .pixel {
                        cursor: pointer;
                        background: black;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        margin: 0 1px 0 0;

                        &.set {
                            background: white;
                        }
                    }
                }

            }

        }

        .patternSize {
            text-align: center;
        }

    }



}