.Screen {
    position: relative;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
    background: linear-gradient(180deg, #222 0%, #333 100%);

    .ScreenCanvasContainer {
        display: inline-block;

        canvas {
            box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.5);
        }
    }

    .miniMap {
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 15px 0px black;
        cursor: pointer;
        transform: scale(1);
        transform-origin: bottom left;
        opacity: 1;
        transition: transform .5s, opacity .5s;

        &.hide {
            transform: scale(0.125);
            opacity: 0.25;

            &:hover {
                transform: scale(0.25);
                opacity: 0.25;
            }
        }
    }

}