.Toolbar {
    box-sizing: border-box;
    padding: 10px;
    height: 50px;

    .reset {
        float: right;
        background-color: #900;
        border: none;
        border-radius: 5px;
        border-bottom: 1px solid black;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: red;
        }
    }
}